/* EXERCÍCIO 1: fontes */
@import "./fonts/ravie.css";
@import "./fonts/verdana.css";

/* importá-las aqui... e definir as `font-family` da turminha... */


body {
  background-color: #fff;
  font-family: Verdana;
}

strong {
  color: #d027aa;
}

#recipiente {
  background-image: linear-gradient(to bottom, #f6f1b2, #4599b2 80%);
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

#cardapio {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #aac0ae;
  border-bottom: 1px solid #aac0ae;
  border-left: 1px solid #aac0ae;
  padding: 20px; 
}
/* nao subir */

#cardapio h3 {
  font-size: 18px;
  color: #333;
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: #333;
}


/* EXERCÍCIO 2: layout da página */
html, body, #recipiente {
  min-height: 100vh;
}

#recipiente {
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  width: 800px;
  display: grid;
  grid-template-columns: 164px auto;
  grid-template-rows: max-content auto max-content;
}

#cabecalho-pagina {
  grid-column: 2;
}

#lateral {
  grid-column: 1;
  grid-row: -1 / 1;
}

#cardapio {
  grid-column: 2;
  grid-row: 2;
}

#rodape-pagina {
  grid-column: 2;
  grid-row: 3;
}

/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  margin: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: #e90c0c;
  font-family: Ravie;
  font-weight: normal;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: normal;
  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
}

/* EXERCÍCIO 6: lateral */
#lateral {
}


/* EXERCÍCIO 7: o ticket */
#ticket {
}

#ticket:hover {
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
}

#peixe {
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */

